TAVUS_API_KEY=put-your-key-here
TAVUS_BASE_URL=https://tavusapi.com/v2
PORT=4173
TAVUS_OBJECTIVES_ID=
TAVUS_GUARDRAILS_ID=
TAVUS_DEFAULT_PERSONA_ID=
TAVUS_DEFAULT_REPLICA_ID=
TAVUS_ALT_PERSONA_ID=
TAVUS_ALT_REPLICA_ID=
TAVUS_ALT_OBJECTIVES_ID=
TAVUS_ALT_GUARDRAILS_ID=
